[user]
	name = Andrew Branch
	email = andrew@wheream.io
	signingkey = 20C427D2
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    log = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = /usr/bin/vim
	autocrlf = input
	pager = diff-so-fancy | less --tabs=4 -RFX
[credential]
	helper = osxkeychain
[push]
	default = simple
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[url "https://github.com/"]
[url "https://github.com/"]
[commit]
	gpgsign = true
