[user]
	name = Andrew Branch
	email = {{ .email }}
{{- if .gpgKey }}
	signingkey = {{ .gpgKey }}
{{- end }}
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --first-parent
	track = "!git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`"
	mergemain = "!git checkout main && git pull && git checkout - && git merge -"
[core]
	editor = nvim
{{- if eq .chezmoi.os "windows" }}
	autocrlf = true
{{- else }}
	autocrlf = input
{{- end }}
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictstyle = zdiff3
[diff]
	colorMoved = default
[credential]
{{- if eq .chezmoi.os "darwin" }}
	helper = osxkeychain
{{- else if eq .chezmoi.os "linux" }}
	helper = store
{{- else if eq .chezmoi.os "windows" }}
	helper = manager
{{- end }}
[push]
	default = current
	autoSetupRemote = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
{{- if .gpgKey }}
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
[gpg]
	program = gpg
{{- end }}
[protocol "file"]
	allow = always
[http]
	postBuffer = 157286400
